.infoContainer {
    padding: 1rem;
    margin: 1rem;
}

.data {
    margin: 0.5rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 5em;
    place-items: center;
}

.address {
    margin: 0.5rem;
    display: grid;
    grid-template:
        "name address btn" 1fr 2fr 5em
        ". city"
        ". country"
    ;
    place-items: center;
}