.formsContainer {
    margin: 0.5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    justify-items: center;
    margin: auto;
    grid-template-areas: 
        "society contact"
        "buttons buttons";      
}

.signUpBtn {
    grid-gap: 0.5rem;
    display: inline-grid;
    grid-template-columns: repeat( auto-fit, minmax(auto, 300px) );
    grid-area: buttons;
}