doctype 5
html(lang="en")
    head
        style
            include style.css
    body
        h1 Total
        span #{amount} #{devise}
        i.fa.fa-lock
        #container
        form(
            method='POST'
            action='https://localhost/api/transaction/validate/' + transactionToken
        )
            p
            label Name On Card
            input(type="text" placeholder="Super Awesome Customer" name="nameOnCard" required)
            p
            label Card Number
            input(type="text" placeholder="1234 5678 9012 3456" name="cardNumber" required)

            input(type="submit" value="Submit Payment")
        a(href='https://localhost/api/transaction/cancel/' + transactionToken) Cancel
        